[am-FeatureList] {
	padding: 0.2rem 0.8rem;
	background: white;
	margin: 0;
	font-size: 0.8rem;
	display: flex;
	list-style: none;
	flex-wrap: wrap;

	li {
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

[am-FeatureList-Title] {
	font-weight: bold;
}

[am-FeatureList-Link] {
	
	width: 100%;

	@media #{$large-up} {
		width: auto;
		margin: 0 0 0 auto;
	}
	
	font-weight: bold;

	a {
		display: inline-block;
		margin-left: 1rem;
	}
}