[am-Row] {
	max-width: $main-width;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	flex-wrap: wrap;
}

[am-Row~='full'] {
	max-width: 100%;
}

[am-Row~='middle'] {
	align-items: center;
}

[am-Row~='center'] {
	justify-content: center;
}


[am-Row~='middle'] {
	align-items: center;
}

[am-Row~='bottom'] {
	align-items: flex-end;
}

[am-Col] {
	padding: 0 1rem;
	position: relative;
	z-index: 1;
	width: 100%;
}

[am-Col~='8'] {
	flex: 0 (100%/12)*8;
}

[am-Col~='4'] {
	flex: 0 (100%/12)*4;
}

[am-Col~='6'] {
	flex: 0 (100%/12)*6;
}

[am-Col~='m6'] {

	@media #{$medium-up} {
		flex: 0 (100%/12)*6;	
	}
	
}

[am-Col~='bottom'] {
	align-self: flex-end;
}

[am-Col~='stretch'] {
	align-self: stretch;
}

[am-Col~='m-o1'] {

	@media #{$medium-up} {
		order: 1;
	}

}
