[am-Row] {
	max-width: $main-width;
	margin: 0 auto;
	display: flex;
	//flex-wrap: wrap;

	@media #{$medium-up} {
		padding: 0 1rem;
	}
}

[am-Row~='full'] {
	max-width: 100%;
}

[am-Row~='middle'] {
	align-items: center;
}

[am-Row~='center'] {
	justify-content: center;
}


[am-Row~='middle'] {
	align-items: center;
}

[am-Row~='bottom'] {
	align-items: flex-end;
}

[am-Col] {
	padding: 0 1rem;
	position: relative;
	z-index: 1;
	width: 100%;
}

@for $i from 1 through $row-count {
	[am-Col~='#{$i}'] {
		flex-grow: 0;
		flex-basis: (100%/$row-count)*$i;
	}
}


@media #{$medium-up} {

	@for $i from 1 through $row-count {

		[am-Col~='m#{$i}'] {
			flex-grow: 0;
			flex-basis: (100%/$row-count)*$i;
		}

	}

}

@media #{$large-up} {

	@for $i from 1 through $row-count {

		[am-Col~='l#{$i}'] {
			flex-grow: 0;
			flex-basis: (100%/$row-count)*$i;
		}

	}

}


[am-Col~='bottom'] {
	align-self: flex-end;
}

[am-Col~='stretch'] {
	align-self: stretch;
}

[am-Col~='m-o1'] {

	@media #{$medium-up} {
		order: 1;
	}

}
