@mixin list-reset() {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

[am-list-reset] {
	@include list-reset();
}

/* Leading paragraph text */
[am-txt~='lead'] {
	
	font-size: $baseFontSize;
	
}

[am-a~='plain'] {
	&:hover {
		transform: none;
	}
}

/* Hug a the block above you */
[am-txt~='hug'] {
	margin-top: 0;
}

[am-txt~='center'] {
	text-align: center;
}

[am-txt~='headerLink'] {
	text-decoration: none;
	color: #ccc;
	display: inline-block;
	margin-left: 1rem;
	font-weight: normal;
	font-family: 'open-sans', sans-serif;
	font-size: 0.7em;
}

[am-svg] {
	height: 0;
	width: 100%;
	position: relative;
	svg {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}