[am-ArticleMedia] {

	max-width: $media-width;
	margin: $media-padding 0;

}

[am-ArticleMedia~='insta'] {
	max-width: 35rem;
}

[am-ArticleMedia~='first'] {
	margin-top: 0;
}

[am-ArticleMedia~='auto'] {

	img {
		width: auto;
		max-width: auto;
	}
	
}


[am-ArticleMedia-Caption] {
	color: #555;
	font-style: italic;
	//text-align: center;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem; 
}

[am-ArticleMedia-Compliment] {

	@media #{$medium-up} {
		margin-top: $media-padding;
	}
}