[am-SiteFooter] {
	 //background: #081E10;
	position: relative;
	
	display: flex;
	align-items: center;
	justify-content: center;


	@media #{$medium-up} {
		height: 100vh;
	}
	

	* {
		position: relative;
		z-index: 1;
	}
}

[am-SiteFooter-Bg] {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
//	opacity: 0.1;
}

[am-SiteFooter-Inner] {

	
	background: white;
	margin: 0 auto;
	padding: 1rem;
	margin: 1rem;


	@media #{$medium-up} {
		width: 70%;
		padding: 2rem;
	}

	@media #{$large-up} {
		width: 60%;
	}

	
	// * {
	// 	color: white;
	// }

}

[am-SiteFooter-Contact] {
	@include list-reset;
	margin-bottom: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;

	

	@include all-headers {
		margin-bottom: 0;
	}	

	li {
		margin-bottom: 1rem;
		flex: 0 100%;

		@media #{$large-up} {
			flex: 0 50%;
		}
	}
}