[am-Strip] {
	background: $primary-color;
	padding: 2rem 0;	
	margin: auto;
	position: relative;
	display: block;


	@media #{$large-up} {
		padding: 3rem 0;
	}	

	> *, > * > * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

[am-Strip~='project'] {
	
	@media #{$small-only} {
		overflow: hidden;
	}

	h2 {
		font-size: 1.2 * $scale * 1rem;
	    line-height: 1.2 * $leading;
	    

	    @media #{$medium-up} {
	        font-size: 1.5 * $scale * 1rem;
	        line-height: 1.5 * $leading;
	    }

	    @media #{$large-up} {
	        font-size: 2 * $scale * 1rem;
	        line-height: 2 * $leading;
	    }
	}
}

[am-Strip-Anim] {
	transition: 0.3s $bounce-ease;
	position: relative;
	z-index: 100;
}

[am-Strip-Anim~='2'] {
	transition-delay: 0.1s;
}

[am-Strip-Anim~='3'] {
	transition-delay: 0.2s;
}

a[am-Strip] {
	cursor: pointer;
	transition: 0.4s;
	text-decoration: none;
	font-weight: normal;
	transform: none;

	svg {
		path {
			transition: 0.3s;
			fill: transparent;
		}
	}

	&:hover {
		background: white;

		svg {

			#flights path {
				stroke: $secondary-color;
			}

			#map path {
				fill: $primary-color;
			}
		}

		[am-Strip-Anim] {
			transform: scale(1.04);
		}

		

		[am-Strip-Anim~='left'] {
			@media #{$medium-up} {
				transform: scale(1.04) translate3D(-0.5rem, 0, 0);
			}
			
		}

		[am-Strip-Anim~='right'] {
			@media #{$medium-up} {
				transform: scale(1.04) translate3D(0.5rem, 0, 0);
			}
		}

		[am-BigSpinner='bg'] {
			@media #{$medium-up} {
				transform: scale(1);
			}
		}
	}
	
}

a[am-Strip~='alt'] {
	&:hover {
		background: #333;
	}
}

[am-Strip~='blank'] {
	background: transparent;
}

[am-Strip-Cutout] {

	@media #{$medium-up} {
		margin: -5rem 0;	
	}
	
}

[am-Strip-Edges] {
	margin: -3rem 0;
}

[am-Strip~='alt'] {

	background: $secondary-color;
	
	* {
		color: white !important;
	}
}