.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background: white;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
}

.page.right {
  justify-content: flex-end;
}
