[am-Row] {
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
}

[am-Row~='full'] {
	max-width: 100%;
}

[am-Row~='middle'] {
	align-items: center;
}

[am-Row~='bottom'] {
	align-items: bottom;
}

[am-Col] {
	padding: 0 1rem;
}

[am-Col='8'] {
	width: (100%/12)*8;
}

[am-Col='bottom'] {
	align-self: flex-end;
}
