h1, h2, h3, h4, h5, h6 {
	color: #333;
}

p {
	color: #222;
}

a {
	font-weight: bold;
	transition: 0.2s;
	display: inline-block;
	color: $secondary-color;

	&:hover {
		transform: translateY(-0.2rem);
	}
}