h1, h2, h3, h4, h5, h6 {
	color: #333;
}

p {
	color: #222;
}

figure {
	padding: 0;
	margin: 0;
	max-width: 50rem;
	margin: 3rem 0;
}

figcaption {
	color: #555;
	font-style: italic;
	//text-align: center;
	margin-top: 0.5rem;
	margin-bottom: -0.5rem; 
}