[am-TextContainer] {
	max-width: 40rem;

}

[am-TextContainer-Header] {
	margin-left: -5rem;
	margin-right: -5rem;
	text-align: center;
}

[am-ContentContainer] {
	max-width: 60rem;
	margin: 0 auto;
	padding: 0 1rem;

	p, ul, ol, h2, h3, h4, h5, h6 {
		max-width: 40rem;
	}
}