[am-SiteHeader] {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem 1rem 2rem;
	//text-align: center;

	@media #{$medium-up} {
		padding: 2rem 1rem 3rem;
	}

	p {
		
		margin-bottom: 0;

		@media #{$medium-up} {
			font-size: $scale * 1rem;
			line-height: $scale;

		}

		@media #{$large-up} {
			font-size: $scale * 1.1rem;
			line-height: $scale;

		}
	}

	h1 {
		border-top: 1px solid #ddd;
		padding-top: 1rem;
	}
}

[am-SiteHeader-Header] {
	
	max-width: 45rem;

}

[am-SiteHeader-Header="small"] {
	max-width: 25rem;
	padding-bottom: 1rem;
	margin: 0;
	//border-bottom: 1px solid #ddd;
	// position: absolute;
	// left: 0;
	// top: 0;
}

[am-SiteHeader-Corner] {
	width: 7rem;
	height: 7rem;
	position: absolute;
	left: 0;
	top: 0;
}

[am-SiteHeader-Strip] {
	@include list-reset;
	width: 100%;

	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;

}