[am-SiteFooter] {
	 //background: #081E10;
	position: relative;
	height: 100vh;
	display: flex;
	

	* {
		position: relative;
		z-index: 1;
	}
}

[am-SiteFooter-Bg] {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
//	opacity: 0.1;
}

[am-SiteFooter-Inner] {
	width: 50%;
	background: white;
	margin: 0 auto;
	padding: 2rem;
	margin: auto;
	
	// * {
	// 	color: white;
	// }

}