[am-Strip] {
	background: #F7D9BF;
	padding: 3rem 0;
}

[am-Strip~='blank'] {
	background: transparent;
}

[am-Strip-Cutout] {
	margin: -5rem 0;
}

[am-Strip~='beach'] {

	@extend [am-Strip~='bg-photo'];

	background: url('/images/backgrounds/beach_blur.jpg');
	background-size: cover;
	color: white;

	h1, h2, h3 {
		color: white;
	}
}