[am-Strip] {
	background: #F7D9BF;
	padding: 2rem 0;	
	margin: auto;
	position: relative;

	@media #{$medium-up} {
		padding: 3rem 0;
	}
}

[am-Strip~='blank'] {
	background: transparent;
}

[am-Strip-Cutout] {
	margin: -5rem 0;
}

[am-Strip-Edges] {
	margin: -3rem 0;
}

[am-Strip~='alt'] {

	background: #26634E;
	
	* {
		color: white;
	}
}